<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331814003838-79fglnnkn067a11a5g1aid0lsn9ibksk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331814003838-79fglnnkn067a11a5g1aid0lsn9ibksk</string>
	<key>API_KEY</key>
	<string>AIzaSyAEVy09rRKxv0Y_64kyI80oYr_2oEDghCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>331814003838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-c2645</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-c2645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331814003838:ios:1a95df7defea06152ea42f</string>
</dict>
</plist>